

body {
    font-size: 1em;
    font-family:'Open Sans',Arial, Helvetica, sans-serif;
}
.svg{
    width:35%;
}
.mt-10{
    padding-top:20px
}
.mb-10{
    padding-bottom: 20px;
}
.card-text{
    background-color: #fff3e359;
    margin-bottom:0;
    padding: 15px 80px 15px 80px;  
}
@media screen and (max-width:900px){
   .card-text{
        padding: 15px;
    }
}
.card-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
.btn{
    color:rgb(253, 185, 37)
}
.btn:hover{
    color:rgb(250, 210, 110)
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.foot-title{
    background-color:rgba(112, 206, 193, 0.507);
}
.foot{
    background-color:rgba(90, 197, 223, 0.164);
}
.sub-bg{
    background-color: rgb(255, 229, 197,.5);
}
.level{
    background-color: rgb(255, 229, 197,.75);
}
.links{
    Color: #219ebc;  
    text-decoration: none;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.links.email{
    color:#bc218d;
}
.links.email:hover{
    color:#C8419F;
    font-weight: bold;
}
.links:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color:#2C8C99;
}
footer {   
    height:auto;
    margin-top: auto;
    padding-bottom: 30px;   
}





